[submodule "DCTFoundation"]
	path = DCTFoundation
	url = git://github.com/danielctull/DCTFoundation.git
[submodule "DCTCoreData"]
	path = DCTCoreData
	url = git://github.com/danielctull/DCTCoreData.git
[submodule "DCTConnectionController"]
	path = DCTConnectionController
	url = git://github.com/danielctull/DCTConnectionController.git
